__pycache__/
# Jupyter Notebook
.ipynb_checkpoints
# Environments
.env
.envrc
.venv
env/
venv/
ENV/
2023_Light My MOSFIRE/Extra/
2023_Light My MOSFIRE/FADO/Extra/
2023_Light My MOSFIRE/FADO/gcc/
2023_Light My MOSFIRE/FADO/input/sfr/
2023_Light My MOSFIRE/FADO/input/sm/
2023_Light My MOSFIRE/FADO/input/gal_list_sfr.txt
2023_Light My MOSFIRE/FADO/input/gal_list_sm.txt
2023_Light My MOSFIRE/FADO/input/List
2023_Light My MOSFIRE/FADO/input/spec1.txt
2023_Light My MOSFIRE/FADO/input/spec2.txt
2023_Light My MOSFIRE/FADO/input/spec3.txt
2023_Light My MOSFIRE/FADO/output/SFR/
2023_Light My MOSFIRE/FADO/output/SM/
2023_Light My MOSFIRE/FADO/ReadMe/
2023_Light My MOSFIRE/FADO/SSPs/
2023_Light My MOSFIRE/Fits_Files/
2025_ML and Galactic/Training/
2025_ML and Galactic/snapshot_m12df/
2025_ML and Galactic/sample_students_m12f-lsr0.csv